/target
.vscode
!editors/vscode/.vscode/
!editors/vscode/.vscode/launch.json
!editors/vscode/.vscode/tasks.json
.idea
/*.sol
/*.yul
/tmp
.DS_Store
**/cache/
**/cache-*/
tests/foundry/**/out-solar/
tests/foundry/**/out-solc/
tests/foundry/**/*-test-output-*.json
crates/codegen/testdata/**/out-solar/
crates/codegen/testdata/**/out-solc/
crates/codegen/testdata/**/*-test-output-*.json
