/target
.idea
/*.sol
/*.yul
/tmp
.DS_Store
__pycache__/
/tools/lsp-bench/benchmark.pr.yaml
/tools/lsp-bench/servers.pr.yaml
solc-test-output*
solar-test-output*
tests/foundry/**/cache*/
tests/foundry/**/out*/
crates/codegen/testdata/**/cache*/
crates/codegen/testdata/**/out*/
