name: Benchmark

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  codspeed:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - name: Checkout submodules
        run: git submodule update --checkout
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - name: Install cargo-codspeed
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-codspeed
      - name: Build the benchmark target(s)
        run: cargo codspeed build --profile profiling -p solar-bench criterion
      - name: Run the benchmarks
        uses: CodSpeedHQ/action@v3
        with:
          run: cargo codspeed run -p solar-bench criterion
          token: ${{ secrets.CODSPEED_TOKEN }}

  iai:
    runs-on: ubuntu-latest
    env:
      BASELINE: base
      IAI_CALLGRIND_RUNNER: iai-callgrind-runner
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - name: Checkout submodules
        run: git submodule update --checkout
      - name: Install Valgrind
        run: sudo apt update && sudo apt install valgrind
      - uses: dtolnay/rust-toolchain@stable
      - name: Install cargo-binstall
        uses: taiki-e/install-action@cargo-binstall
      - name: Checkout base
        uses: actions/checkout@v5
        with:
          ref: ${{ github.base_ref || 'main' }}
          fetch-depth: 2
      - name: Checkout HEAD^
        if: ${{ !github.base_ref }}
        run: git checkout HEAD^
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - name: Install iai-callgrind-runner
        run: ./.github/scripts/install_iai_callgrind_runner.sh
      - name: Save baseline
        run: cargo bench -p solar-bench --bench iai --features ci -- --save-baseline=$BASELINE
      - name: Checkout PR
        uses: actions/checkout@v5
        with:
          clean: false
      - name: Install iai-callgrind-runner
        run: ./.github/scripts/install_iai_callgrind_runner.sh
      - name: Compare PR benchmarks
        run: cargo bench -p solar-bench --bench iai --features ci -- --baseline=$BASELINE
