name: Test PGO+BOLT

on:
  pull_request:
  workflow_dispatch:

jobs:
  test-pgo-bolt:
    name: Test PGO+BOLT
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          submodules: recursive

      - name: Install Rust
        run: rustup update stable --no-self-update && rustup default stable

      - name: Run build-pgo-bolt.sh
        run: .github/scripts/build-pgo-bolt.sh

      - name: Verify binary
        run: |
          target/dist/solar --version
          target/dist/solar testdata/Counter.sol
